@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #D0D1E7;
  background: #0F0F1A;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.workSlider .swiper-slide .img-slider {
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
}

.workSlider .swiper-slide.swiper-slide-active {
  @apply z-10;
}

.workSlider .swiper-slide.swiper-slide-active .ttl-slider span{
  @apply top-0;
}

.workSlider .swiper-slide.swiper-slide-active .img-slider {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.workSlider .swiper-slide.swiper-slide-active:before {
  @apply scale-[5] opacity-0;
}

.workSlider .swiper-slide.swiper-slide-prev .img-slider {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.workSlider .swiper-slide.swiper-slide-prev:before {
  @apply scale-[5] opacity-0;
}