@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #d0d1e7;
  background: #0f0f1a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scale-scross-path {
  0% {
    clip-path: polygon(
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%
    );
  }
  75% {
    clip-path: polygon(
      0 33%,
      33% 33%,
      33% 0,
      67% 0,
      67% 33%,
      100% 33%,
      100% 67%,
      67% 67%,
      67% 100%,
      33% 100%,
      33% 67%,
      0 67%
    );
  }
  100% {
    clip-path: polygon(
      0 0,
      25% 0,
      25% 0,
      75% 0,
      75% 0,
      100% 0,
      100% 100%,
      75% 100%,
      75% 100%,
      25% 100%,
      25% 100%,
      0 100%
    );
  }
}

.workSlider {
  .swiper-slide {
    &::before {
      transition-duration: 3s;
      transition-timing-function: linear;
    }
  }
}

.workSlider .swiper-slide .img-slider {
  clip-path: polygon(
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%,
    50% 50%
  );
}

.workSlider .swiper-slide.swiper-slide-active {
  @apply z-10;
}

.workSlider .swiper-slide.swiper-slide-active .ttl-slider span {
  @apply translate-y-0;
}

.workSlider .swiper-slide.swiper-slide-active .img-slider {
  animation-name: scale-scross-path;
  animation-duration: 1100ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.workSlider .swiper-slide.swiper-slide-active:before {
  @apply scale-[6];
}

.workSlider .swiper-slide.swiper-slide-prev .img-slider {
  clip-path: polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0 100%);
}

.workSlider .swiper-slide.swiper-slide-prev:before {
  @apply scale-[6] opacity-0;
}

.underline-double {
  display: inline-flex;
  position: relative;
  white-space: nowrap;

  &:after,
  &:before {
    content: "";
    position: absolute;
    bottom: -0.2em;
    right: 0;
    left: 0;
    height: 0.05em;
    min-height: 1px;
    background-color: currentColor;
  }

  &:before {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0.5s;
  }

  &:after,
  &:hover:before {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0s;
  }

  &:hover:after {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0.2s;
  }
}
